.top_section{
    display: flex;
    flex-direction:row;
    color:#414141;
    margin: 30px 100px;   
    border-bottom: 0.4px solid lightgrey;
   
}

/***********  For mobile  ***************/

@media screen and (max-width: 480px) {

    .top_section
    {     
       margin:30px 0px;
       display:grid;
       gap:4px;
       grid-template-columns: repeat(2,1fr);
   
    }
    
  }
  
  
  /***********  For tablet  ***************/
  
  @media screen and (max-width: 768px) {
    .top_section{     
        margin: 50px 0px;
        display:grid;
        gap:5px;
        grid-template-columns: repeat(2,1fr);
   
      
        }
       
      }
      